extends ../layout/main
block variable
	-
		var title_page = 'План поверху'
		var id_page = 'floor-plan-page'
		var breadcrumbsBtn = 'filter'
		var breadcrumbsSubitem = [
			{
				label: 'Вибір за секції',
				link: pagesLink[0].gen
			}
		]
	
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/index.js')
	script(defer src='./assets/scripts/floor-plan.js')
block content
	.mobile-popup-flat-info-overlay.js-mobile-popup-flat-info
		.mobile-popup-flat-info
			button(type="button").arrow-close.js-mobile-popup-flat-info-close
				+svg('close_2')
			ul.popup-floor-info.js-floor-info
				li.floor-info-item
					span.floor-info-item__key Квартира №
					span.floor-info-item__val.js-flat-num 136
				li.floor-info-item
					span.floor-info-item__key Загальна площа м
						span.sup 2
					span.floor-info-item__val.mt_1.js-flat-total_square 41,7
				li.floor-info-item
					span.floor-info-item__key Кімнат
					span.floor-info-item__val.js-flat-room 2
				li.floor-info-item
					span.floor-info-item__key Житлова площа м
						span.sup 2
					span.floor-info-item__val.mt_1.js-flat-life_square 44,2
			a(href= pagesLink[0].floorPlan).js-mobile-popup-flat-info__link.mobile-popup-flat-info-link
				span дивитись кваритру
				+svg('arrow--white').arrow--white
	.floor-plan-content
		include ../includes/breadcrumbs.pug
		.filter-plan-block
			.filter-plan-block__l
				.section-title
					.section-title__num 4
					.section-title__text секція
				.section-plan
					.section-plan__img
						include ../includes/mini-plan-section.svg
					.section-plan__text вул. Предславинська
				.section-compass
					+img('compass.svg').section-compass__img
			.filter-plan-block__c
				include ../includes/plan-floor.svg

			.filter-plan-block__r
				.floor-list.js-floor-list
					.current-floor-wrap
						.tip-floor-list-wrap
							span.arrow-rect
							button(type="button").arrow-close.js-arrow-close
								+svg('close_2')
							.tip-floor-list__title Поверх:
							ul.tip-floor-list.js-tip-floor-list
								li.tip-floor-list__item
									a.active(href= pagesLink[0].floorPlan) 1
								each v in [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
									li.tip-floor-list__item
										a(href= pagesLink[0].floorPlan)= v
						.current-floor.current-section
							span.current-floor__num 4
							span.current-floor__text секція
						.current-floor
							span.current-floor__num 10
							span.current-floor__text поверх
						.current-floor-nav
							a(href= pagesLink[0].floorPlan)
								+svg('arrow-small-up')
							a(href= pagesLink[0].floorPlan)
								+svg('arrow-small-down')
				ul.floor-info.js-floor-info
					li.floor-info-item
						span.floor-info-item__key Квартира №
						span.floor-info-item__val.js-flat-num 136
					li.floor-info-item
						span.floor-info-item__key Загальна площа м
							span.sup 2
						span.floor-info-item__val.mt_1.js-flat-total_square 41,7
					li.floor-info-item
						span.floor-info-item__key Кімнат
						span.floor-info-item__val.js-flat-room 2
					li.floor-info-item
						span.floor-info-item__key Житлова площа м
							span.sup 2
						span.floor-info-item__val.mt_1.js-flat-life_square 44,2
		a(href="#").see-more-floor.js-see-more-floor
			span.see-more-floor__text дивитись квартиру
			+svg('arrow').see-more-floor__icon

block footer
	include ../includes/footer.pug

					
					


block header

