extends ../layout/main
block variable
	-
		var title_page = 'Відео'
		var id_page = 'video-page'
		var breadcrumbsBtn = 'filter'
		var breadcrumbsSubitem = false 
	
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/index.js')
	script(defer src='./assets/scripts/video.js')
block content
	.video-content
		include ../includes/breadcrumbs.pug
		.video-block
			.gallery-pagination-arrows.video-arrows
				button(type="button").button.button-reset--default-styles.gallery-pagination-arrow.gallery-pagination-arrow__prev.js-video-arrow__prev
					+svg('arrow-link')
				button(type="button").button.button-reset--default-styles.gallery-pagination-arrow.gallery-pagination-arrow__next.js-video-arrow__next
					+svg('arrow-link')
			.video-block-slider.js-video-block-slider
				.video-block-slider__item
					iframe(width="100%" height="100%" src="https://www.youtube.com/embed/4KmUkArAyfI?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

				.video-block-slider__item
					iframe(width="100%" height="100%" src="https://www.youtube.com/embed/4KmUkArAyfI?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

block footer
	include ../includes/footer.pug

block header

